<div class="posts">
  <div class="w-screen h-auto flex justify-center items-center px-16 py-8">
    <div class="w-3/4 h-auto flex flex-col">
      <div class="text-white">
        <h1 class="text-6xl font-bold">Latest</h1>
        <p class="py-4 mb-4 text-lg">A blog created by Express, Handlebars, and Tailwind</p>
      </div>
      <div class="w-full mx-auto">
        {{#each posts as |post| }}
          <article class="w-full article py-4" id="{{post.id}}">
            <hr class="w-full h-px bg-gray-100 opacity-20">
            <div class="flex flex-row py-4 gap-32">
              <div class="text-white text-lg p-4">
                {{ format_date date_created }}
              </div>
              <div class="w-full flex flex-col pt-4">
                <h2 class="text-2xl font-medium text-gray-200">{{title}}</h2>
                <a class="uppercase text-sm font-medium text-cyan-400 pb-4" href="/user/{{post.user_id}}">{{post.user.name}}</a>
                <p class="max-h-36 py-2 text-md text-gray-400 tracking-wide leading-7 text-ellipsis overflow-hidden">{{text}}</p>
                <div class="flex justify-end px-16">
                  <button id="{{post.id}}" class="button text-md text-cyan-400 pt-2 cursor-pointer" onclick="singlePost(this.id)">Read more -></button>
                </div>
              </div>
            </div>
          </article>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script src="/js/homepage.js"></script>