<div class="posts">
  <div class="w-screen h-auto flex justify-center items-center px-16 py-8">
    <div class="w-3/4 h-auto flex flex-col">

      <div class="flex flex-col justify-center items-center gap-2">
        <h3 class="text-xl text-gray-500">{{ format_date postInfo.date_created }}</h3>
        <h1 class="text-6xl font-bold text-white pb-8">{{ postInfo.title }}</h1>
        <hr class="w-full h-px bg-gray-100 opacity-20">
      </div>

      <div class="flex flex-col py-8">
        <p class="text-lg text-gray-300 px-8 py-4 whitespace-pre-line">{{ postInfo.text }}</p>
        <div class="w-full flex flex-row justify-between items-center px-8 py-4">
          <p class="text-white">Written by: <span class="text-cyan-400 font-bol">{{ postInfo.user.name }}</span></p>
          {{#if logged_in}}
            <button id="addComm" class="font-bold uppercase text-cyan-500 underline">Add Comment</button>
          {{/if}}
        </div>
        <hr class="w-full h-px bg-gray-100 opacity-20">
      </div>
      <div id="commSection" class="hidden w-full pb-8">
          <form id="newComment" name="{{postInfo.id}}" class="w-3/4 h-auto mx-auto">
            <div class="flex flex-col gap-4">
              <label class="block mb-2 text-lg font-medium text-gray-200">Enter comment below:</label>
              <textarea id="comment-text" class="block w-full p-3 rounded-lg bg-gray-200 border border-transparent focus:outline-none" row="20"></textarea>
            </div>
            <div class="mb-5 flex justify-end px-8">
              <button class="p-2 mt-5 bg-cyan-600 text-white rounded shadow uppercase">Submit Comment</button>
            </div>
          </form>
      </div>
      <div id="editComm" class="hidden w-full pb-8">
          <div id="{{comment.post_id}}" class="editComment w-3/4 h-auto mx-auto">
            <div class="flex flex-col gap-4">
              <label class="block mb-2 text-lg font-medium text-gray-200">Edit comment below:</label>
              <textarea id="commEdit" class="block w-full p-3 rounded-lg bg-gray-200 border border-transparent focus:outline-none" row="20"></textarea>
            </div>
            <div class="mb-5 flex justify-end px-8">
              <button type="button" id="" class="subEdit p-2 mt-5 bg-cyan-600 text-white rounded shadow uppercase" onclick="updateComment(this.id)">Submit</button>
            </div>
          </div>
      </div>
      <div class="comlog w-full" id="{{ userId }}">
        <!-- Comment Secton -->
        {{#each postInfo.comments as |comment|}}
          <div class=" w-full py-2">
            <div class="w-3/4 mx-auto">
              <div class="comment flex flex-row gap-4">
                <h2 class="text-4xl text-white">L</h2>
                <h3 class="pt-4 text-lg text-gray-400 whitespace-pre-line">{{ comment.text }}</h3>
              </div>
              <div class="flex justify-between py-4">
                <div class="flex justify-around px-16 gap-4">
                  <p class="text-gray-400">Commented by: <span class="text-md font-medium text-cyan-600">{{ comment.user.name }}</span> on <span class="text-sm text-cyan-600">{{ format_date comment.date_created }}</span></p>
                </div>
                  {{#if comment.isMatch}}
                  <div id="edit-btns" class="flex gap-4">
                    <button id="{{ comment.id }}" name="{{ comment.text }}" class="updateCom bg-green-400 rounded-lg p-0.5 hover:scale-110 cursor-pointer">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                      </svg>
                    </button>
                    <button id="{{ comment.id }}" class="delcomment bg-red-400 rounded-lg p-0.5 hover:scale-110 cursor-pointer" onclick="delComment(this.id)">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                      </svg>
                    </button>
                  </div>
                  {{/if}}
              </div>
              <hr class="w-full h-px bg-gray-100 opacity-20">
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script src="/js/post.js"></script>